name: Generate Data

on:
  schedule: 
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-data:
    name: Jobs to update data
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate contribution snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: rubberducky-quack
          outputs: dist/github-contribution-grid-snake.svg

      - name: Publish `dist` to branch `output`
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
